<html>
<head>
	<title>SoundCloud</title>
</head>
<body>
	<h1>Welcome to SoundCloud</h1>
	<p>Please Login</p>
	<form>
		<label>Email
			<input type='text' name='email' />
		<label>Password
			<input type='password' name = 'password' />
			<button>Login</button>
	</form>

	<a href='/users'>Sign Up</a>
</body>
</html>