<html>
<head>
	<title>SoundCloud</title>
</head>
<body>
	<h1>Welcome to SoundCloud</h1>
	<p>Please Login</p>
	<form action="/users" method="POST">
		<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">

		<label>Email
			<input type='text' name='email' />
		<label>Password
			<input type='password' name = 'password' />
			<button>Login</button>
		</label>
	</form>

	<a href='/users/new'>Sign Up</a>
</body>
</html>