<html>
<head>
	<title>New User</title>
</head>
<body>

	<h1>Sign Up for Soundcloud!</h1>

	<form method="POST" action="/users">
		<input type="" name="name" placeholder="name" />
		<input type="text" name="email" placeholder="email" />
		<input type="password" name="password" placeholder="password" />
		<input type="text" name="location" placeholder="location" />
		<input type="text" name="fav_artist" placeholder="fav_artist" />
		<input type="Submit" />
	</form>

</body>
</html>