<html>
<head>
	<title>New User</title>
</head>
<body>

	<h1>Sign Up for Sounndcloud!</h1>

	<form method="POST" action="/users">
		<input type="" name="name" />
		<input type="text" name="email" />
		<input type="text" name="password" />
		<input type="text" name="location" />
		<input type="text" name="fav_artist" />
		<input type="Submit" />
	</form>

</body>
</html>